<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">


<!--  <test thread-count="5" name="validate_bill_history_dropdown">
  	<parameter name="userName" value="waynenkuxzxkwg85034"></parameter>
  	<parameter name="password" value="test1ng"></parameter>
  	<parameter name="browser" value="chrome" ></parameter>
    <classes>
      <class name="com.billing.qa.tcs.BillHistoryDropdownTest">
      </class>
    </classes>
  </test> -->
 
 <!-- <test thread-count="5" name="validate_MyBill_page_for_bill_unavaialable_scenario">
  	<parameter name="userName" value=""></parameter>
  	<parameter name="password" value=""></parameter>
  	<parameter name="browser" value="chrome" ></parameter>
    <classes>
      <class name="com.billing.qa.tcs.BillUnavailableTest">
      </class>
    </classes>
  </test>  Test -->
  
  

 <!--   <test thread-count="5" name="validate_print_preview_page">
  	<parameter name="userName" value="mathewfloer13135"></parameter>
  	<parameter name="password" value="test1ng"></parameter>
  	<parameter name="browser" value="chrome" ></parameter>
    <classes>
      <class name="com.billing.qa.tcs.PrintPreviewTest">
      </class>
    </classes>
  </test> -->
  

  <test thread-count="5" name="validate_page_title">
  	<parameter name="userName" value="mathewfloer13135"></parameter>
  	<parameter name="password" value="test1ng"></parameter>
  	<parameter name="browser" value="chrome" ></parameter>
    <classes>
      <class name="com.billing.qa.tcs.LoginTest">
      </class>
    </classes>
  </test> 
  
  
</suite> <!-- Suite -->
